<div style="width: 100%;"> 
<div class="card" style="width: 18rem;margin: 10px;">
    <img class="card-img-top" src="https://dummyimage.com/300x200/6e636e/bfc1db&text=Product" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Name: {{product.name}}</h5>
      <p class="card-text">
        <div>Price: {{product.price}}</div>
        <div>Quantity: {{product.quantity}}</div>
      <button (click)="goBack()" class="btn btn-primary">Go Back</button>
    </div>
  </div>
  </div>
