  <!-- bootstrap css -->
  <link rel="stylesheet" type="text/css" href="/assets/bootstrap.min.css">
  <!-- style css -->
  <link rel="stylesheet" type="text/css" href="/assets/style.css">
  <!-- Tweaks for older IEs-->
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
   <!-- Scrollbar Custom CSS -->
   <link rel="stylesheet" href="/assets/jquery.mCustomScrollbar.min.css">

    <!-- header section start -->
    <div class="header_section">
      <div class="container-fluid">
         <nav class="navbar navbar-light bg-light justify-content-between">
            <div id="mySidenav" class="sidenav">
               <a href="javascript:void(0)" class="closebtn" onclick="document.getElementById('mySidenav').style.width = '0'               ">&times;</a>
               <a routerLink="/AddProduct">Add Product</a>
               <a routerLink="/Product">Products</a>
            </div>
            <span class="toggle_icon" onclick="document.getElementById('mySidenav').style.width = '100%'
            "><img src="/assets/images/toggle-icon.png"></span>
            <div>
               <ul class="nav nav-pills gap-2 p-1 miduem" id="pillNav2" role="tablist">
                  <li class="nav-item" role="presentation">
                    <button routerLink="/Product" class="nav-link " >All Product</button>
                  </li>
                  <li class="nav-item" role="presentation">
                    <button routerLink="/AddProduct" class="nav-link ">Add Product</button>
                  </li>
                </ul>
            </div>
           
            <form class="form-inline ">
               <div class="login_text">
                  <ul>
                     <li><a href="#"><img src="/assets/images/user-icon.png"></a></li>
                     <li><a href="#"><img src="/assets/images/bag-icon.png"></a></li>
                     <li><a href="#"><img src="/assets/images/search-icon.png"></a></li>
                  </ul>
               </div>
            </form>
         </nav>
      </div>
   </div>
   <!-- header section end -->
   <!-- banner section start -->
   <div class="banner_section layout_padding">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
         <div class="carousel-inner">
            <div class="carousel-item active">
               <div class="container">
                  <div class="row">
                     <div class="col-sm-6">
                        <h1 class="banner_taital">Technology</h1>
                        <p class="banner_text">Ncididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
                        
                     </div>
                     <div class="col-sm-6" style="margin-bottom: 10px;">
                        <div class="banner_img"><img src="/assets/images/banner-title.png"></div>
                     </div>   
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- banner section end -->

   <!-- copyright section end -->
      <!-- Javascript files-->
      <script src="js/jquery.min.js"></script>
      <script src="js/popper.min.js"></script>
      <script src="js/bootstrap.bundle.min.js"></script>
      <script src="js/jquery-3.0.0.min.js"></script>
      <script src="js/plugin.js"></script>
      <!-- sidebar -->
      <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="js/custom.js"></script>
      <!-- javascript --> 
      <script src="js/owl.carousel.js"></script>
      <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>  
      <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
