<div class="row">
  <div class="col-3">
   <form (ngSubmit)="addProduct()">
     <div class="form-group">
       <label for="name" class="form-label">Name</label>
       <input type="text" [(ngModel)]="product.name"  required  class="form-control" name="name">
     </div>
     <div class="form-group">
         <label for="quantity" class="form-label">quantity</label>
         <input type="number"[(ngModel)]="product.quantity"  required class="form-control" id="quantity" name="quantity" >
       </div>
       <div class="form-group">
         <label for="price" class="form-label">Price</label>
         <input type="number" [(ngModel)]="product.price" required  class="form-control" id="price" name="price" >
       </div>
       <div class="form-group">
         <label for="power">Category</label>
         <select  [(ngModel)]="product.CategoryID" name="category" class="form-control" id="cat" required>
          <option *ngFor="let cat of categoryList" [value]="cat.id">{{cat.name}}</option>
         </select>
       </div>
     <div class="form-group">
       <button type="submit" class="btn btn-primary mb-3">Add</button>
     </div>
   </form>
 </div>
 </div>