

form{
    width: 100%;
    border-radius: 5px;
    background-color: lightgray;
    padding: 20px;
  }
  
.col-5{
    padding: 10px;
  }
  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }